<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail Service</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <script
			  src="{% static "js/jquery.js" %}"></script>
  </head>
  <body>
      <div id="app" />
    <script src="{% static "js/main.js" %}"></script>
  </body>
</html>
